   * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
   }

   .slider {
     width: 60%;
     height: 990px;
     overflow: hidden;
   }

   .slider ul {
     display: flex;
     animation: cambio 20s infinite alternate linear;
     width: 400%;
   }

   .slider li {
     width: 100%;
     list-style: none;
   }

   .slider img {
     width: 80%;
     height: 100%;
   }

   @keyframes cambio {
     0% {
       margin-left: 0;
     }

     20% {
       margin-left: 0;
     }

     25% {
       margin-left: -100%;
     }

     45% {
       margin-left: -100%;
     }

     50% {
       margin-left: -200%;
     }

     70% {
       margin-left: -200%;
     }

     75% {
       margin-left: -300%;
     }

     100% {
       margin-left: -300%;
     }
   }

   @media only screen and (min-width:320px) and (max-width:768px) {

     .slider,
     .slider ul,
     .slider img {
       height: 100vh;
     }
   }

   * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
   }


   .form-register {
     width: 400px;
     /* background: #e9ecef; */
     padding: 30px;
     margin: 800px;
     margin-top: 58px;
     border-radius: 4px;
     font-family: 'calibri';
     color: #edf2f4;
     /*  box-shadow: 7px 13px 30px #fff; */
   }

   .form-register h4 {
     font-size: 30px;
     margin-bottom: 10px;
     text-align: center  ;
   }

   .controls {
     width: 146%;
     background: #000000;
     padding: 10px;
     border-radius: 4px;
     margin-top: 10px;
     margin-bottom: 20px;
     border: 1px solid #ffea00;
     font-family: 'calibri';
     font-size: 19px;
     color: #ffea00;
   }

   .form-register p {
     height: 40px;
     text-align: center;
     font-size: 18px;
     line-height: 40px;
   }

   .form-register a {
     color: #f8f9fa;
     text-decoration: none;
   }

   .form-register a:hover {
     color: #ffea00;
     text-decoration: underline;
   }

   .button-19 {
     appearance: button;
     background-color: #ffea00;
     border: solid transparent;
     border-radius: 16px;
     border-width: 0 0 4px;
     box-sizing: border-box;
     color: #000000;
     cursor: pointer;
     display: inline-block;
     font-family: din-round, sans-serif;
     font-size: 15px;
     font-weight: 700;
     letter-spacing: .8px;
     line-height: 20px;
     margin-top: 20px;
     margin-bottom: 20px;
     outline: none;
     overflow: visible;
     padding: 13px 16px;
     text-align: center;
     text-transform: uppercase;
     touch-action: manipulation;
     transform: translateZ(0);
     transition: filter .2s;
     user-select: none;
     -webkit-user-select: none;
     vertical-align: middle;
     white-space: nowrap;
     width: 100%;
   }

   .button-19:after {
     background-clip: padding-box;
     background-color: #ffea00;
     border: solid transparent;
     border-radius: 16px;
     border-width: 0 0 4px;
     bottom: -4px;
     content: "";
     left: 0;
     position: absolute;
     right: 0;
     top: 0;
     z-index: -1;
   }

   .button-19:main,
   .button-19:focus {
     user-select: auto;
   }

   .button-19:hover:not(:disabled) {
     filter: brightness(1.1);
     -webkit-filter: brightness(1.1);
   }

   .button-19:disabled {
     cursor: auto;
   }

   .button-19:active {
     border-width: 4px 0 0;
     background: none;
   }

   .form-register {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: flex-start;
   }

   .form-register {
     position: absolute;
     top: 80px;
     left: 5%;
     transform: translate(-10%, -5%);
   }

   body {
     background-color: black;
   }