/* *PARTE SUPERIOR DE LA PAGINA DE INICIO */

.parte_superior {
    background-color: black;
    width: 100%;
    height: 110px;
    margin-top: 10px;
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
    display: flex;
    align-items: center;
}

.parte_superior a {
    text-decoration: none;
}

.parte_superior a h5 {
    position: relative;
    left: 150px;
    margin: 60px;
    color: #f5efff;
}

.parte_superior a h5:hover {
    color: #ffd500;
}

.parte_superior i {
    color: #ffd500;
    position: relative;
    left: 250px;
    font-size: 30px;
    margin: 21px;
    color: #f5efff;
}

.parte_superior i:hover {
    color: #ffd500;
}

#cuenta-carrito {
    position: absolute;
    left: 95%;
    top: 65px;
    background-color: #ffd500;
    color: #121212;
    border-radius: 10px;
    width: 20px;
    height: 24px;
    text-align: center;
    font-size: 20px;
}

#carrito {
    position: fixed;
    top: 120px;
    right: 10px;
    width: 500px;
    max-height: 500px;
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    z-index: 1;
    color: #121212;
    scrollbar-width: none;
}

.carrito-item h3 {
    position: relative;
    top: -110px;
    left: 130px;
}

.carrito-item img {
    position: relative;
    max-width: 100px;
    max-height: 200px;
}

.carrito-item p {
    position: relative;
    left: 130px;
    top: -120px;
}

.carrito-item button {
    position: relative;
    left: 320px;
    top: -180px;
}

.boton-carrito {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.boton-pagar {
    background-color: #008CBA;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}


.imagen_logo {

    position: relative;
    left: 30px;
    width: 100px;
    height: 90px;
}

.texto {
    margin: 60px;
    position: relative;
    left: 130px;
    font-size: 17px;
}


/* *seccion de titulos */

.seccion_titulos {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.seccion_titulos h2,
.seccion_titulos p {
    position: relative;
    left: 150px;
    top: 10px;
}


.categoria {
    position: relative;
    top: 22px;
    left: -565px;
    font-size: 14px;
}


label[for="ordenar"],
select#ordenar {
    position: relative;
    top: -30px;
    left: 500px;

}


/* *seccion de categorias */

.categorias_checkbox {

    /* background-color: blue; */
    height: 300px;
    width: 300px;
}

.bordes {
    width: 200px;
    height: 5px;
    background-color: #CDCDCB;
    position: relative;
    top: -17px;
    left: 20px;
    border-radius: 30px;
}

.checkboxes {
    /*   background-color: yellow; */
    position: relative;
    top: 10px;
    left: 30px;
    width: 150px;
    margin: 20px;
}

.label {
    margin: 8px;
}


/* *seccion colores */

.contenedor_colores {
    /*  background-color: blueviolet; */
    height: 150px;
    width: 300px;
    margin-top: 40px;
}

.contenedor_colores h5 {
    font-size: 17px;
    position: relative;
    left: 50px;

}

.bordes_color {
    position: relative;
    top: -20px;
}

.colores {
    /*   background-color: white; */
    height: 150px;
    width: 240px;
    position: relative;
    left: 30px;
    display: flex;
    align-items: center;

}

.color {
    width: 60px;
    height: 30px;
    margin: 4px;
    cursor: pointer;
    position: relative;
    top: -50px;
    cursor: pointer;
}

.color_2 {
    position: relative;
    top: -10px;
    left: -160px;
}



/* *SECCION DE TALLAS */


.seccion_tallas {
    /*  background-color: yellow; */
    width: 300px;
    height: 168px;
    margin-top: 30px;

}

.seccion_tallas h5 {
    font-size: 17px;
    position: relative;
    left: 50px;
}

.seccion_tallas select {
    width: 100px;
    height: 35px;
    background-color: #a9d6e5;
    color: #121212;
    font-size: 16px;
    text-align: center;
    position: relative;
    left: 40px;

}


/* *CONTENEDOR PRINCIPAL DE TODAS LAS IMAGENES */


.contenedor_medio_imagenes {
    position: relative;
    top: -688px;
    left: 300px;
    /* background-color: yellowgreen; */
    width: 75%;
    height: 4500px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}


/* * *SECCION DE IMAGENES DEL MEDIO */


.contenedor_medio_1 {
    /*  background-color: aqua; */
    height: 500px;
    width: 100%;
    display: flex;
}

.producto {
    position: relative;
}

.producto img {
    width: 299px;
    height: 401px;
    margin-left: 25px;
}

.producto h4 {
    position: relative;
    left: 30px;
}

.producto p {
    position: relative;
    left: -100px;
    top: -15px;
    text-align: center;
}

.descripcion {
    display: none;
    position: absolute;
    top: 40%;
    left: 54%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 280px;
    height: 375px;
}

.descripcion h4,
.descripcion p {
    text-align: center;
    font-size: 20px;
    position: relative;
    left: -1px;
}

.producto:hover .descripcion {
    display: block;
}






.contenedor_medio_2 {
    /*   background-color: violet; */
    height: 500px;
    width: 100%;
    display: flex
}

.producto_2 {
    position: relative;
}

.producto_2 img {
    width: 299px;
    height: 401px;
    margin-left: 25px;
}

.producto_2 h4 {
    position: relative;
    left: 30px;
}

.producto_2 p {
    position: relative;
    left: -100px;
    top: -15px;
    text-align: center;
}

.descripcion_2 {
    display: none;
    position: absolute;
    top: 40%;
    left: 54%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 280px;
    height: 375px;
}

.descripcion_2 h4,
.descripcion_2 p {
    text-align: center;
    font-size: 20px;
    position: relative;
    left: -1px;
}

.producto_2:hover .descripcion_2 {
    display: block;
}





.contenedor_medio_3 {
    /* background-color:tomato; */
    height: 500px;
    width: 100%;
    display: flex
}

.producto_3 {
    position: relative;
}

.producto_3 img {
    width: 299px;
    height: 401px;
    margin-left: 25px;
}

.producto_3 h4 {
    position: relative;
    left: 30px;
}

.producto_3 p {
    position: relative;
    left: -100px;
    top: -15px;
    text-align: center;
}

.descripcion_3 {
    display: none;
    position: absolute;
    top: 40%;
    left: 54%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 280px;
    height: 375px;
}

.descripcion_3 h4,
.descripcion_3 p {
    text-align: center;
    font-size: 20px;
    position: relative;
    left: -1px;
}

.producto_3:hover .descripcion_3 {
    display: block;
}





.contenedor_medio_4 {
    /*   background-color: aqua; */
    height: 500px;
    width: 100%;
    display: flex
}

.producto_4 {
    position: relative;
}

.producto_4 img {
    width: 299px;
    height: 401px;
    margin-left: 25px;
}

.producto_4 h4 {
    position: relative;
    left: 30px;
}

.producto_4 p {
    position: relative;
    left: -100px;
    top: -15px;
    text-align: center;
}

.descripcion_4 {
    display: none;
    position: absolute;
    top: 40%;
    left: 54%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 280px;
    height: 375px;
}

.descripcion_4 h4,
.descripcion_4 p {
    text-align: center;
    font-size: 20px;
    position: relative;
    left: -1px;
}

.producto_4:hover .descripcion_4 {
    display: block;
}






.contenedor_medio_5 {
    /*   background-color: aqua; */
    height: 500px;
    width: 100%;
    display: flex
}

.producto_5 {
    position: relative;
}

.producto_5 img {
    width: 299px;
    height: 401px;
    margin-left: 25px;
}

.producto_5 h4 {
    position: relative;
    left: 30px;
}

.producto_5 p {
    position: relative;
    left: -100px;
    top: -15px;
    text-align: center;
}

.descripcion_5 {
    display: none;
    position: absolute;
    top: 40%;
    left: 54%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 280px;
    height: 375px;
}

.descripcion_5 h4,
.descripcion_5 p {
    text-align: center;
    font-size: 20px;
    position: relative;
    left: -1px;
}

.producto_5:hover .descripcion_5 {
    display: block;
}





.contenedor_medio_6 {
    /*   background-color: aqua; */
    height: 500px;
    width: 100%;
    display: flex
}

.producto_6 {
    position: relative;
}

.producto_6 img {
    width: 299px;
    height: 401px;
    margin-left: 25px;
}

.producto_6 h4 {
    position: relative;
    left: 30px;
}

.producto_6 p {
    position: relative;
    left: -100px;
    top: -15px;
    text-align: center;
}

.descripcion_6 {
    display: none;
    position: absolute;
    top: 40%;
    left: 54%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 280px;
    height: 375px;
}

.descripcion_6 h4,
.descripcion_6 p {
    text-align: center;
    font-size: 20px;
    position: relative;
    left: -1px;
}

.producto_6:hover .descripcion_6 {
    display: block;
}




.contenedor_medio_7 {
    /*   background-color: aqua; */
    height: 500px;
    width: 100%;
    display: flex
}

.producto_7 {
    position: relative;
}

.producto_7 img {
    width: 299px;
    height: 401px;
    margin-left: 25px;
}

.producto_7 h4 {
    position: relative;
    left: 30px;
}

.producto_7 p {
    position: relative;
    left: -100px;
    top: -15px;
    text-align: center;
}

.descripcion_7 {
    display: none;
    position: absolute;
    top: 40%;
    left: 54%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 280px;
    height: 375px;
}

.descripcion_7 h4,
.descripcion_7 p {
    text-align: center;
    font-size: 20px;
    position: relative;
    left: -1px;
}

.producto_7:hover .descripcion_7 {
    display: block;
}





.contenedor_medio_8 {
    /*   background-color: aqua; */
    height: 500px;
    width: 100%;
    display: flex
}

.producto_8 {
    position: relative;
}

.producto_8 img {
    width: 299px;
    height: 401px;
    margin-left: 25px;
}

.producto_8 h4 {
    position: relative;
    left: 30px;
}

.producto_8 p {
    position: relative;
    left: -100px;
    top: -15px;
    text-align: center;
}

.descripcion_8 {
    display: none;
    position: absolute;
    top: 40%;
    left: 54%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 280px;
    height: 375px;
}

.descripcion_8 h4,
.descripcion_8 p {
    text-align: center;
    font-size: 20px;
    position: relative;
    left: -1px;
}

.producto_8:hover .descripcion_8 {
    display: block;
}





.contenedor_medio_9 {
    /*   background-color: aqua; */
    height: 500px;
    width: 100%;
    display: flex
}

.producto_9 {
    position: relative;
}

.producto_9 img {
    width: 299px;
    height: 401px;
    margin-left: 25px;
}

.producto_9 h4 {
    position: relative;
    left: 30px;
}

.producto_9 p {
    position: relative;
    left: -100px;
    top: -15px;
    text-align: center;
}

.descripcion_9 {
    display: none;
    position: absolute;
    top: 40%;
    left: 54%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 280px;
    height: 375px;
}

.descripcion_9 h4,
.descripcion_9 p {
    text-align: center;
    font-size: 20px;
    position: relative;
    left: -1px;
}

.producto_9:hover .descripcion_9 {
    display: block;
}






/* *PARTE INFERIOR, INFORMACION */

.contenedor_informacion {
    background-color: black;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    margin-top: -740px;
    color: aliceblue;
}

.contenedor_contacto {
    width: 100%;
    height: 500px;
    text-align: center;
    position: relative;
    top: 150px;
}

.contenedor_contacto_titulo {
    position: relative;
    top: 100px;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 30px;
}

.imagenes_logos_contenedor {
    width: 20px;
    height: 20px;
    border-radius: 30px;
    border: none;
    margin: 20px;
    font-size: 30px;
}

.titulo_informacion {
    position: relative;
    top: 90px;
    left: 60px;
    font-size: 20px;
}

.imagen_inferior_contenedor {
    position: relative;
    top: 75px;
    left: -160px;
    border-radius: 30px;
    width: 60px;
    height: 60px;

}